div.row{
    margin-bottom: 10px;
}

#topBot{
    border: 2px solid black;
    height: 25px;
    background-color: green;
}

#number{
    border: 2px solid black;
    height: 100px;
    background-color: lightblue;
}

#letter{
    border: 2px solid black;
    height: 100px;
    background-color: lightgray;
}

#aux{
    border: 2px solid black;
    height: 50px;
    background-color: aqua;
}

#emote{
    border: 2px solid black;
    height: 100px;
    background-color: orange;
}

#numbersBody{
    height: 300px;
}

#numbersB{
    border: 2px solid black;
    background-color: red;
}

#footers{
    border: 2px solid black;
    height: 25px;
    background-color: yellow;
}