div{
    margin: 0 auto;
    border-radius: 0px;
}
 
#first{
    width: 30px;
    height: 30px;
    margin-top:40px;
    background-color: black;
    border: 5px solid black;
    border-radius: 50%
}

#second{
    width: 60px;
    height: 30px;
    background-color: pink;
    border: 5px solid pink;
    border-radius: 25%/50%;
}

#third{
    width: 80px;
    height: 40px;
    background-color: purple;
    border: 5px solid purple;
    border-radius: 25%/50%;  
}

#fourth{
    width: 100px;
    height: 50px;
    background-color: green;
    border: 5px solid green;
    border-radius: 25%/50%;
}

#fifth{
    width: 250px;
    height: 100px;
    background-image: linear-gradient(blue, #ffffff);
    border: 5px linear-gradient(blue, #ffffff);
    border-radius: 20%/50%;
}